body{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    background-color: #f0f0f0;
}
.calculator{
    background-color: rgba(0, 0, 0, 0.6);
    width: 500px;
    height: 700px;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 15px;
    border: 5px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
.display{
    background-color:  rgba(0, 0, 0, 0.7);
    height: 100px;
    padding: 10px;
    border-radius: 15px;
    color: white;
    text-align: right;
    font-size: 3em;
    margin-bottom: 20px;
}
.button, .zero-button{
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    width: 110px;
    height: 80px;
    border-radius: 15px;
    margin: 5px;
    font-size: 2em;
    transition: transform 0.3s border 0.4s, background-color 0.3s;
    line-height: 80px;
}
.zero-button{
    width: 235px;
}
.button:hover, .zero-button:hover{
    background-color: rgba(0, 0, 0, 0.5);
}